/* ✅ Asegúrate que está compilado correctamente */
@tailwind base;
@tailwind components;
@tailwind utilities;

/* ✅ CUSTOM STYLES - MÍNIMOS */
body {
  font-family: "Inter", system-ui, sans-serif;
}

::-webkit-scrollbar {
  width: 8px;
}
::-webkit-scrollbar-track {
  background: #f1f1f1;
}
::-webkit-scrollbar-thumb {
  background: #18181b;
  border-radius: 10px;
}
::-webkit-scrollbar-thumb:hover {
  background: #2ecc71;
}
